Source: ros-kilted-apriltag-tools
Section: misc
Priority: optional
Maintainer: Bernd Pfrommer <bernd.pfrommer@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kilted-ament-cmake, ros-kilted-ament-cmake-clang-format <!nocheck>, ros-kilted-ament-lint-auto <!nocheck>, ros-kilted-ament-lint-common <!nocheck>, ros-kilted-apriltag-detector, ros-kilted-apriltag-draw, ros-kilted-apriltag-msgs, ros-kilted-rclcpp, ros-kilted-ros-environment, ros-kilted-rosbag2-transport, ros-kilted-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-kilted-apriltag-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-apriltag-detector, ros-kilted-apriltag-draw, ros-kilted-apriltag-msgs, ros-kilted-rclcpp, ros-kilted-rosbag2-transport, ros-kilted-ros-workspace
Description: misc tools for working with apriltags under ROS2
