Source: ros-lyrical-apriltag-detector
Section: misc
Priority: optional
Maintainer: Bernd Pfrommer <bernd.pfrommer@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-lyrical-ament-cmake, ros-lyrical-ament-cmake-clang-format <!nocheck>, ros-lyrical-ament-lint-auto <!nocheck>, ros-lyrical-ament-lint-common <!nocheck>, ros-lyrical-apriltag-msgs, ros-lyrical-cv-bridge, ros-lyrical-image-transport, ros-lyrical-pluginlib, ros-lyrical-rclcpp, ros-lyrical-rclcpp-components, ros-lyrical-ros-environment, ros-lyrical-sensor-msgs, ros-lyrical-ros-workspace
Homepage: https://index.ros.org/p/apriltag_detector/#lyrical
Standards-Version: 3.9.2

Package: ros-lyrical-apriltag-detector
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lyrical-apriltag-msgs, ros-lyrical-cv-bridge, ros-lyrical-image-transport, ros-lyrical-pluginlib, ros-lyrical-rclcpp, ros-lyrical-rclcpp-components, ros-lyrical-sensor-msgs, ros-lyrical-ros-workspace
Description: ROS2 package for apriltag detection
